p,tr {

    font-weight: bolder;
    text-align: center;
    font-size: 23px;
    color: #676767;
  }
  
  .swal-text {
    font-weight: bolder;
  }
  
  
  
  
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    margin-top: 10%;
    background: #e0e5ec;
  
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  
    box-shadow:
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  
  
    border: 0px solid #000000;
  }
  
  h3{
    font-weight: bolder;
    font-size: 19px;
  }
  
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bolder;
  }
  
  .custom-btn{
    width: 10%;
    background-color: #55a2dc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2%;
  }
  
  .custom-btn:hover{
    background-color: #82b8e0;
  }
  
  .comprar{
    width: 23%;
    background-color: #55a2dc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 2%;
  }
  