@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap");

body {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(189, 244, 255) 39%, rgb(189, 244, 255) 87%);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    background-repeat: no-repeat;
  }

  h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 15%;

  }

  h2 {
    font-weight: bolder;
  }
  
  p,tr {

    font-weight: bolder;
    text-align: center;
    font-size: 23px;
    color: #676767;
  }

  

  .contenido {
    width: 400px; 
    margin: 0 auto;

    background: #e0e5ec;

    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    box-shadow:
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;


    border: 0px solid #000000;

    margin-top: 7%;
    margin-bottom: 10%;
  }

  header,img {
    margin: 0 auto;
    width: 300px; 
  }


  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    margin-top: 10%;
  }
  
  h3{
    font-weight: bolder;
    font-size: 19px;
  }

  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bolder;
  }

  button{
    width: 100%;
    background-color: #55a2dc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10%;
  }
  
  button:hover{
    background-color: #82b8e0;
  }

  .custom-btn{
    width: 40%;
    margin: 3%;
  }
